/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

body {  
  /* Horizontal and Vertical Center */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  /* Extend full height of browser  */
  height: 100vh;
  
  /* Load Background Images with JS. Style with CSS */ 
  background-size: cover;
}

/* Apply Font */
main {
  font-family: 'Rajdhani', sans-serif;
  font-size: 5vmin;
  text-align: center;
  /**BACKGROUND COLOR **/
  color:  #ff0202 ;
  /* Add contrast to text */
  background-color: rgba(127, 17, 224, 0.25);
}

img {
  height: 50px;
  padding: 10px;
  width: 100px;
 
}